
.background{
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}

.form{
    user-select: none;
    display: flex;
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    border: 1px solid #90b8f829 ;
    background: #26282B;
    height: 600px;
    width: 900px;
    box-shadow: var(--shadow-elevation-medium);

}
.close{
    z-index: 5;
    background: url('../../../../assets/Icons/closewhite.png') no-repeat;
    background-size: contain;  
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    
}
.block{
    z-index: 1;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;

    height: 100vh;
}
.leftPt{
    display: flex;
    flex-direction: column;
    flex: 3;
    
}
.image{
    width: 170px;
    height: 170px;
    background-color: aliceblue;
}
.poster{
    background-color: #52565c59;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.2;
}
.text{
    flex: 2;
}
.rightPt{
    background-color: black;
    flex: 1.1;
    
}