.form{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #1b1c21;
    width: 500px;
    height: 650px;
}
.block h1{
    margin-top: 25px;
}
input{
    bottom: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-block: 0;
    padding-inline: 0 ;
    display: unset;
    text-decoration: none;
    margin: 10px;
    height: 50px;
    width: 75%;
    
}

button{
    font-family: 'Onest-Regular';
    font-size: 1em;
    position: relative;
    bottom: 0;
    outline: none;
    border: none;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    text-decoration: none;
    margin-top: 50px;
    height: 7%;
    width: 25%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}

.transfer{
    height: 60px;
    bottom: 0;
}

.signUp{
    text-decoration: none;
    user-select: none;
}