[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
psycopg2-binary = "*"
python-jose = {version = "*", extras = ["cryptography"]}
passlib = {version = "*", extras = ["bcrypt"]}
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
