[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
psycopg2-binary = "*"
python-jose = {version = "*", extras = ["cryptography"]}
passlib = {version = "*", extras = ["bcrypt"]}
uvicorn = "*"
greenlet = "*"
python-multipart = "*"
aiofiles = "*"
boto3 = "*"
asgiref = "*"
pydantic = {version = "<2", extras = ["email"]}

[dev-packages]
httpx = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
