.block{
    z-index: 1;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form {
    user-select: none;
    display: flex;
    position: relative;
    justify-content: flex-start;
    z-index: 3;
    border-radius: 10px;
    border: 1px solid #90b8f829 ;
    background: #26282B;
    height: 600px;
    width: 800px;
    box-shadow: var(--shadow-elevation-medium);
}

.close{
    z-index: 5;
    background: url('../../../assets/Icons/closewhite.png') no-repeat;
    background-size: contain;  
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    
}

.background{
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}
.input{
    display: none;
}
.pictureNav{   
    box-shadow: var(--shadow-elevation-low); 
    z-index: 3;
    display: flex;
    justify-content: center;
    position: relative;width: 40%;
    background: rgb(95, 133, 219, 0.5);
    
    
}
.pictureBlock{
    width: 100%;
    position: absolute;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.insertNav{
    display: flex;
    align-items: center;
}
.picture{
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: cover;
    width: auto;
    height: auto;
    border-radius: 5px;
    position: absolute;
    background-size: contain;
    height: 240px;
    width: 240px;
    box-shadow: var(--shadow-elevation-low);
}

.poster{
    border: 3px solid #26282B;
    box-shadow: var(--shadow-elevation-low);
    position: relative;
    background-size: contain;
    border-radius: 5px;
    margin: 10px;
    width: 240px;
    height: 240px;

}
.posterHover{
    position: absolute;
    z-index: 1;
    font-size: 20px;
    justify-content: center;
    border-radius: 5px;
    display: none;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    transition: 0.5s;
    z-index: 2;
    background-color: #26282B;
}
.poster:hover .posterHover{
    transition: 0.5s;
    display:flex; 
}

.button{
    
    display: flex;
    border-radius: 5px; 
    height: 35px;
    width: 140px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 178, 255, 0.2), 0 6px 20px 0 rgba(0, 178, 255, 0.1); 
    background-color: #00b2ff; 
    color: #f8f8f2; 
}


.track {
    
    width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 178, 255, 0.2), 0 6px 20px 0 rgba(0, 178, 255, 0.1); 
    background-color: #00b2ff; 
    color: #f8f8f2; 
}
.title {
    box-shadow: var(--shadow-elevation-low);
    font-family: "Onest-Regular";
    border: 2px solid black;
    width: 80%;
    height: 30px;
    outline: none;
    border-radius: 10px;
    font-size: 20px; 
    font-weight: 500; 
    text-align: center; 
    margin-bottom: 10px; 
    background-color: #282a36; 
    color: #eee;
}

.description{ 
    box-shadow: var(--shadow-elevation-low);
    padding-left: 5px;
    font-family: "Onest-Regular";
    border: 2px solid black;
    width: 80%;
    font-size: 18px;
    height: 150px;
    display: flex;
    justify-content: center;
    outline: 0px;
    border-radius: 10px 10px 5px 5px;
    font-weight: 500; 
    resize:unset;
    margin-bottom: 10px; 
    background-color: #282a36; 
    color: #eee;  
}
.rightside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.instructionsMenu{
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.instructionsMenu h3{
    font-size: 20px;
    margin: 5px;
    align-self: center;
}

.instructionsMenu h4{
    font-size: 15px;
    margin: 5px;
    margin-left: 15px;
}

.instructionsMenu b{
    color: rgb(169, 171, 171);
    font-size: 13px;
    margin: 5px;
    font-weight: 100;
}

.policy{
    margin: 10px;
    margin-top: 20px;
}



@media (max-width: 850px) {
    .pictureNav{
    width: 35%;
    }
    .form{
        width: 600px;
    }
    .poster{
        width: 150px;
        height: 150px;
    }
    .picture{
        width: 150px;
        height: 150px;
    }
    .insertNav{
        width: 150px;
    }
  }

  @media (max-width: 610px) {
    .pictureNav{
    width: 30%;
    }
    .form{
        height: 600px;
        width: 500px;
    }
    .poster{
        width: 120px;
        height: 120px;
    }
    .picture{
        width: 120px;
        height: 120px;
    }
    .insertNav{
        width: 120px;
    }
  }

  :root {
    --shadow-color: 222deg 52% 37%;
    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  }
