.links {
    width: 75%;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .link {
    transition: 0.5s;
    border: 1px solid #eee;
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .link:hover{
    background-color: #00b2ff;
    color: #eee;
  }
  