.container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.7fr 2fr auto;
  grid-auto-rows: auto 1fr 11.3fr;
  grid-template-areas:
    "nav header avatar"
    "nav pages pages"
    "userPlaylists pages pages";
  grid-gap: 15px;
  margin: 15px 15px 65px 15px;
}

.header,
.nav,
.userPlaylists,
.pages {
  padding: 10px;
  border-radius: 10px;
  background-color: #26282b;
}

.nav {
  grid-area: nav;
  height: 120px;
}
.header {
  grid-area: header;
  height: 60px;
  overflow: hidden;
}
.pages {
  overflow: auto;
  grid-area: pages;
}
.userPlaylists {
  overflow: auto;
  grid-area: userPlaylists;
}
.avatar {
  grid-area: avatar;
  height: 80px;
  width: 80px;
  background-color: #26282b;
  border-radius: 10px;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 50px;
  background-color: #5f85db;
}

.profile{
  display: none;
}

/* Will be deleted */
.temporary{
  color: white;
  transition: 0.5s;
  text-decoration: none;
}
.footer:hover .temporary{
  text-decoration: underline;
}

.avatar:target .profile{
  color: black;
  display: flex;
}
@media (max-width: 850px) {
  .container {
    grid-template-columns: 180px 2fr auto;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 80px 2fr auto;
  }
} 

