.container {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 0.6fr 2fr auto;
  grid-auto-rows: 0fr 0fr 1fr;
  grid-template-areas:
    "nav header avatar"
    "nav pages pages"
    "userPlaylists pages pages";
  grid-gap: 15px;
  margin: 15px 15px 0px 15px;
}

.header,
.nav,
.userPlaylists
 {
  padding: 10px;
  border-radius: 10px;
  background-color: #353941;
}

.nav {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-elevation-low);
  grid-area: nav;
  height: 120px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-elevation-low);
  grid-area: header;
  height: 60px;
  overflow: hidden;
}

.pages {
  padding: 10px;
  background: rgb(39,42,48);
  background: linear-gradient(0deg, rgba(39,42,48,1) 43%, rgba(32,34,39,1) 67%, rgba(53,57,65,1) 100%);
  overflow: auto;
  border-radius: 10px;
  background-color: #353941;
  box-shadow: var(--shadow-elevation-medium);
  margin-bottom: 15px;
  grid-area: pages;
}

.userPlaylists {
  background: rgb(39,42,48);
  background: linear-gradient(0deg, rgba(39,42,48,1) 43%, rgba(32,34,39,1) 67%, rgba(53,57,65,1) 100%);
  box-shadow: var(--shadow-elevation-medium);
  margin-bottom: 15px;
  overflow: auto;
  grid-area: userPlaylists;
}

.avatar {
  box-shadow: var(--shadow-elevation-low);
  grid-area: avatar;
  height: 80px;
  width: 80px;
  background-color: #353941;
  border-radius: 10px;
}

.footer {
  z-index: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 4rem;
  background-color: #1b1c21;
}

.profile{
  display: none;
}

/* Will be deleted */
.temporary{
  color: white;
  transition: 0.5s;
  text-decoration: none;
}

.footer:hover .temporary{
  text-decoration: underline;
}

.avatar:target .profile{
  color: black;
  display: flex;
}

@media (max-width: 850px) {
  .container {
    grid-template-columns: 163px 2fr auto;
  }
}

@media (max-width: 500px) {
  .nav{
    justify-content: center;
    align-items: center;
  }

  .container {
    grid-template-columns: 100px 2fr auto;
  }
} 



:root {
  --shadow-color: 216deg 11% 6%;
  --shadow-elevation-low:
    -0.1px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    -0.1px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.34),
    -0.2px 2px 2.3px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    -0.1px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    -0.2px 1.6px 1.8px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.5px 4.1px 4.6px -1.7px hsl(var(--shadow-color) / 0.36),
    -1.1px 9.9px 11.2px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    -0.1px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    -0.3px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 0.34),
    -0.6px 5.4px 6.1px -0.7px hsl(var(--shadow-color) / 0.34),
    -1px 8.9px 10.1px -1.1px hsl(var(--shadow-color) / 0.34),
    -1.6px 14.2px 16.1px -1.4px hsl(var(--shadow-color) / 0.34),
    -2.5px 22.1px 25px -1.8px hsl(var(--shadow-color) / 0.34),
    -3.8px 33.6px 38px -2.1px hsl(var(--shadow-color) / 0.34),
    -5.6px 49.5px 56px -2.5px hsl(var(--shadow-color) / 0.34);
}

