.HomeNav{

  position: relative;
  width: 100%;
  border-radius: 10px;

}

.Options{ 
  z-index: 1;
  background: url("../../assets/Icons/settingIcon.svg") no-repeat;
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 35px; 
  border-radius: 100%;
  right: 10px;
}

.Options:hover{

}

