.links{
    display: flex;
    align-items: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 0;
    position: absolute;
    margin: 6.4rem 1rem;
    border-radius: 5px;
    background-color: #1b1c21;
    height: 150px;
    width: 120px;
}
.content{
    background: #1b1c21;
    cursor: pointer;
    color: #eee ;
    width: 80%;
    height: 20px;
    user-select: none;
    margin: 10px 10px 0px ;
}
.content:hover{
    transition: 0.5s;
    color: #63dfea ;
}
.link{
    color: #eee;
    text-decoration: none;
}

.link:hover{
    color: #63dfea;
}