.form{
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    border: 1px solid #00b2ff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #1b1c21;
    width: 450px;
    height: 650px;
}
.block h1{
    margin-top: 25px;
}

.block input{
    margin: 10px;
    background-color: #282a36; 
    color: #f8f8f2; 
    font-size: 20px;
    bottom: 0;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: unset;
    text-decoration: none;
    padding-block: 0;
    padding-inline: 0 ;
    height: 50px;
    padding-left: 10px;
    width: 75%;
    border: 2px solid black;
}

.block button{
    transition: background-color 0.3s ease;
    background-color: #00b2ff; 
    color: #f8f8f2; 
    font-size: 20px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: unset;
    text-decoration: none;
    padding: 10px 20px; 
    margin-top: 10px; 
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 178, 255, 0.2), 0 6px 20px 0 rgba(0, 178, 255, 0.1); /* Shaded effect */
    cursor: pointer; 
}

.block button:active {
    transform: scale(0.99); 
}

.block button:hover {
    background-color: #0091cc; 
}



