.links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #eee;
  border-radius: 5px;
  padding: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #5f85db;
  margin-right: 20px;
  border-radius: 5px;
}

.link:hover {
  color: #63dfea;
}

@media (max-width: 500px) {
  .links{
    justify-content: center;
    align-items: center;
  }

  .content{
    display: none;
  }

  .icon{
    margin: 0;
  }
} 