.links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #eee;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
}

.icon { 
  width: 35px;
  height: 35px; 
  margin-right: 20px;
  border-radius: 5px;
}

#searchButton{
  background: url("../../assets/searchImage/searchWhite.svg") no-repeat;
  background-size: contain;
}
#homeButton{
  background: url("../../assets/homeIcon/houseWhite.svg") no-repeat;
  background-size: contain;
}

.link:hover #homeButton{
  filter: brightness(0) saturate(100%) invert(94%) sepia(34%) saturate(2831%) hue-rotate(156deg) brightness(95%) contrast(105%);
  background-size:contain;
  
}
.link:hover #searchButton{
  filter: brightness(0) saturate(100%) invert(94%) sepia(34%) saturate(2831%) hue-rotate(156deg) brightness(95%) contrast(105%);
  background-size:contain;
}

.link:hover {
  color: #74edf8;
}

@media (max-width: 750px) {
  .links{
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .content{
    display: none;
  }
  .link{
    
    margin: 0;
  }
  .icon{
    margin: 0;
  }
} 