
.Playlist{
    background-color: #26282B;
    width: 100%;
    border-radius: 5px;
    height: 490px;
    margin-bottom: 15px;
}

.Avatar{
    height: 60px;
    width: 60px;
    display: flex;
    align-self: center;
    border-radius: 100%;
    background-color: #26282B;
    
}
.AvatarSpace{
    width: 100px;
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainNav{
    border-radius: 5px;
    background-color:#26282B ;
    width: 92%;
    height: 100%;
}
.HomeBar{
    overflow: auto;
    background-color: #26282B;
    width: 100%;
    border-radius: 5px;
    height: calc(696px - 64px - 60px);
}
.LeftNav{
    margin-bottom: 15px;
    background-color: #26282B;
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
.Split2{
    display: flex;
    width: 100%;
    height: 64px;
    margin-bottom: 30px;
}

#container{  
    width: calc( 75% - 45px);
    margin: 15px 15px 15px 0px;
    border-radius: 0px 10px;
    padding-top: 0;
    height: 696px;
}

#sidebar{
    width: 25%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 15px;
    margin: 15px;
    border-radius: 5px;
    
}
.Split{
    display: flex;
    width: 100%;
    min-height: 650px;
}
.CoreBody{
    flex-direction: column;
    display: flex;
    background-color: #353941;
    width: 97vw;
    border-radius: 10px;
    min-height: 650px;
}

body{
    overflow: auto;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26282B;
}

.BottomNav{
    display: flex;
    bottom: 0;
    position: sticky;
    background-color: #5F85DB;
    width: 100%;
    height: 50px;
}


@media (max-width: 850px){
    .AvatarSpace{
        width: 70px;
        margin: 0;
    }
    .Avatar{
        height: 50px;
        width: 50px;
    }
    #sidebar{
        width: 210px;
    }
}

@media (max-width: 500px){
    #container{
        width: 85%;
    }
    .AvatarSpace{
        width: 50px;
        margin: 0;
    }
    .Avatar{
        height: 40px;
        width: 40px;
    }
    #sidebar{
        width: 70px;
    }
}
